/**
 * Toolkit styles
 */

@import 'base/mixins/rem';

@import "vendor/susy";
/*set up sussy defaults*/
$susy: (
	columns: 12,  // The number of columns in your grid
	gutters:  .25, // The size of a gutter in relation to a single column
	container: 1480px,
	math: fluid,
	output: float//,
	 //debug: (image: show)

);
@import 'utils/functions',
	'utils/mixins',
	'utils/variables';

@import 'base/index',
	'base/fonts',
	'base/layout',
	'base/typography';

@import 'vendor/normalize';
@import 'components/img',
		'components/button',
		'components/loader',
		'components/hamburger';

@import 'structures/filter',
	'structures/header',
	'structures/modal',
	'structures/modal-content',
	'structures/content';

