.btn {
  -moz-appearance: none;
  border: medium none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  //height: 54px;
  line-height: 54px;
  margin: 0;
  padding: 0 54px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: .3s;
  transition-property: all;
  outline: none;
  &-home {
    background-image: url('../images/btn-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Filson', sans-serif;
    font-size: 5.2rem;
    line-height: 1;
    padding: 37px 45px;

    &:hover {
      opacity: .8;
    }
    @include susy-media (max-width 570px) {
      font-size: 5vw;
      padding: 20px;

    }
    @include susy-media (max-width 380px) {
      transition: font-size .8s ease-in-out 0s;
      -ms-transition: font-size .8s ease-in-out 0s;
      font-size: 18px;
    }
  }
  &-modal {
    background-image: url('../images/m-close.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid #fff;
    border-bottom: 20px solid #fff;
    border-left: 20px solid #fff;
    height: 105px;
    padding: 0;
    position: absolute;
    right: 0;
    top: -1px;
    width: 106px;
    z-index: 10;
    overflow: hidden;
    @include susy-media (max-width 780px) {
      width: 106px;
      height: 105px;
    }
  }
}
