.hamburger {
height: 40px;
    outline: medium none;
    position: absolute;
    transition: all 0.5s ease-in-out 0s;
    width: 47px;
    right: 0;
    top: 0;
    z-index: 2;
    color: #fff;
    font-size: 23px;
}

