
@font-face {
  font-family: 'Filson';
  src: url('../fonts/mostardesign_-_filsonproblack-webfont.eot');
  src: url('../fonts/mostardesign_-_filsonproblack-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mostardesign_-_filsonproblack-webfont.woff2') format('woff2'),
       url('../fonts/mostardesign_-_filsonproblack-webfont.woff') format('woff'),
       url('../fonts/mostardesign_-_filsonproblack-webfont.ttf') format('truetype'),
       url('../fonts/mostardesign_-_filsonproblack-webfont.svg#filson_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

.whatever{color:red;}


