.filter {
		max-width: 480px;
		position: absolute;
		right: 0;
		top:33px;
		width: 100%;
		cursor: pointer;
		@include susy-media (max-width 1018px) {
			position: relative;
			top:0;
			margin-top: 20px;
		}
	h2 {
		background-color: #0089be;
		color: #fff;
		font-size: 12px;
		padding: 10px 15px;
		position: relative;
    	z-index: 2;
    	text-align: left;
		margin: 0;
	}
	dl {
		width: 100%;
		max-width: 480px;
		display: block;
		position:absolute;
		top: 34px;
		margin: 0;
		overflow: hidden;
		 max-height: 0;
		transition: max-height 0.8s ease-in-out 0s;
		-ms-transition: max-height 0.8s ease-in-out 0s;



	}
	&:hover {
			dl {

	    		max-height: 500px;
			}
	}
	dd {
			margin: 0 127px 0 0;
			padding:0;
			position: relative;
	    	z-index: 1;


			a {
				padding: 10px 15px;
				color: #fff;
				font-size: 12px;
				text-decoration: none;
				background-color: #22c0f1;
				display: block;
				transition: background-color 0.3s ease-in-out 0s;
				-ms-transition: background-color 0.3s ease-in-out 0s;

				&:hover {
					background-color: darken( #22c0f1, 10% );
				}
			}

		}

}

